$primary: #1C295A;
$secondary: #45C7EF;
$gradient: linear-gradient(102.53deg, #012D72 13.3%, #202889 47.04%, #23cbcb 124.98%);
$white: #fff;
$black-brand: #323841;
$gray-brand: #657189;
$yellow: #FBAA03;
$cinza-textos: #70738A;
$cinza-fundos: #f7f7f7;
$green: #018C85;
.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #f7f7f7;
}

